<div class="container">
    <h1 class="text-center">{{title}}</h1>
    <p class="text-center">Welcome to {{title}} the best place to keep track of all the places you have been snowboarding or skiing. And how much it costed you!</p>
</div>

