<h1>
  Register
</h1>
<form method="post">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Email will not be shared</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" minlength="8" class="form-control" id="password">
    <div id="passwordHelp" class="form-text">Must be at least 8 characters</div>
  </div>
  <div class="mb-3">
    <label for="confirmPass" class="form-label">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPass">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>